@page
@model AlbayaderWeb.Pages.branchsModel
@{
    ViewData["Title"] = @Model.title + " Branchs";
}

<div class="content-wrapper">

    <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item " ><a href="company" >Companyies</a> </li>
                  <li class="breadcrumb-item active" id="titleBranch">@Model.title Branchs</li>
                </ol>
              </div>
               <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <form method="post">
                  <button type="submit" class="btn btn-default" asp-page-handler="AddBranch" asp-route-companyname="@Model.title" asp-route-companyid="@Model.companyId" style="background-color: rgb(250, 245, 245);"><i class="fas fa-plus"></i></button>
                  
                    </form>
              
                </ol>
              </div>
            </div>
            
             
     
          </div>
          <!-- /.container-fluid -->
        </section>


 <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
                     <!-- ./col -->
            

 
                   <form method="post">
<div class="row">
                <!-- small box card start -->
              

                        @if(Model.branchs != null)
                        {
                             @foreach (var item in Model.branchs)
                                {
                                   <div class="col-12 col-md-6 col-lg-3 branchHolder" branchid="@item.BranchId" >
                                     <div class="small-box" style="text-align: center">
                                      <div class="inner">
                                        <div>
                                          
                                        </div>
                                        <div>
                                          <h2> @Html.DisplayFor(modelItem => item.BranchName)</h2>
                                         
                                        </div>
                                      </div>
                                      <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                      </div>
                                      <div class="dropdown">
                                        <button
                                          class="small-box-footer dropdown-toggle"
                                          style="border: 0; width: 100%; background-color: transparent;"
                                          type="button"
                                          id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                        >
                                        </button>
                                        <div class="dropdown-menu"
                                          aria-labelledby="dropdownMenuButton"  style="width: 100%;">
                                                 <button type="submit" class="dropdown-item" asp-page-handler="EditBranch"
                                                 asp-route-companyname="@Model.title" asp-route-companyid="@Model.companyId"
                                                 asp-route-id="@item.BranchId" style="color: rgb(124, 123, 123);">
                                                     <i class="fas fa-pen"></i> Edit</button>
                                             
                                             
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item text-danger deleteBtn" type="button" id="deleteBtn" name="deletBtn" branchid="@item.BranchId" branchName="@item.BranchName" data-toggle="modal" data-target="#modal-delete">
                                                <i class="fas fa-trash"></i> Delete</button>
                                        </div>
                                      </div>
                                    </div>  
                                  </div>
                                
                                }
                        }
                         </div>
                    </form>
                 <!-- card end -->

              <!-- ./col -->



            

            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
       <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="Deletetext">
                  Are you sure you want to delete the branch
                  <span style="font-weight:bold;" id=branchToDeleteName>

                  </span>
                  <div class="deleteWarning" > Please note that this action can't be rolled back and the deleted data can't be retrived</div>
              </div>
            </div>
            <form method="post" id="deleteForm" enctype="multipart/form-data">
              <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" asp-page-handler="Deletebranch" asp-route-id="" id="Deletebranch">Delete</button>
              <input type="hidden" id="deletedbranchId" name="deletedbranchId" />
            </div>
            </form>
           
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

  
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
       <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/branch/branch.js"></script>
