@page
@model AlbayaderWeb.Pages.CompanyModel
@{
     ViewData["Title"] = "Companies";
}
<div class="content-wrapper">

    <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item active">Companies </li>
                </ol>
              </div>
               <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <form method="post">
                  <button type="submit" class="btn btn-default" asp-page-handler="AddCompany" style="background-color: rgb(250, 245, 245);"><i class="fas fa-plus"></i></button>
                  
                    </form>
              
                </ol>
              </div>
            </div>
            
             
     
          </div>
          <!-- /.container-fluid -->
        </section>


 <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
                     <!-- ./col -->
            

 
                   <form method="post">
<div class="row">
                <!-- small box card start -->
              

                        @if(Model.companayList != null)
                        {
                             @foreach (var item in Model.companayList)
                                {
                                   <div class="col-12 col-md-6 col-lg-3 companyHolder" companyid="@item.CompanyID" >
                                     <div class="small-box" style="text-align: center">
                                      <div class="inner">
                                        <div>
                                          @if(!string.IsNullOrEmpty(@item.CompanyLogo!)){
                                                <img
                                            class=""
                                            src="https://localhost:7174/uploads/@item.CompanyLogo"
                                            style="width: 100px;max-height: 60px;"
                                            alt="User Avatar"
                                          />
                                           }else{
                                                 <img
                                            class=""
                                            src="images/branch.png"
                                            style="width: 60px;max-height: 60px;"
                                            alt="User Avatar"
                                          />
                                           }
                                         

                                        </div>
                                        <div>
                                          <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
                                          <h3 style="min-height:50px">@Html.DisplayFor(modelItem => item.Telephone)</h3>
                                        </div>
                                      </div>
                                      <div class="icon">
                                        <i class="ion ion-pie-graph"></i>
                                      </div>
                                      <div class="dropdown">
                                        <button
                                          class="small-box-footer dropdown-toggle"
                                          style="border: 0; width: 100%; background-color: transparent;"
                                          type="button"
                                          id="dropdownMenuButton" data-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                        >
                                        </button>
                                        <div class="dropdown-menu"
                                          aria-labelledby="dropdownMenuButton"  style="width: 100%;">
                                                 <button class="dropdown-item bg-info" asp-page-handler="DeleteCompany" asp-route-id="@item.CompanyID" > <i class="fa-solid fa-hands-holding-circle"></i> Start Preventive</button>
                                               <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <button class="dropdown-item  bg-info"><i class="fas fa-wrench"></i> Start Corrective</button>
                                               <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <button class="dropdown-item bg-info"  ><i class="fas fa-screwdriver-wrench"></i> Start Other</button>
                                                 <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <button class="dropdown-item"  style="color: rgb(124, 123, 123);"><i class="fas fa-chart-pie" ></i> Reports</button>
                                              <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <button type="submit" class="dropdown-item" asp-page-handler="EditCompany" asp-route-id="@item.CompanyID" style="color: rgb(124, 123, 123);">
                                                     <i class="fas fa-pen"></i> Edit</button>
                                                     <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <button type="button" class="dropdown-item"  id="ViewCompany" name="ViewCompany"  
                                                 companyId='@item.CompanyID' style="color: rgb(124, 123, 123);"  data-toggle="modal" data-target="#modal-view">
                                                    <i class="fa-solid fa-eye"></i> View</button>
                                              <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <a class="dropdown-item"  style="color: rgb(124, 123, 123);" href="branchs?companyid=@item.CompanyID&companyName=@item.Name"><i class="fa-solid fa-landmark"></i> Branchs</a>
                                              <div class="dropdown-divider" style="padding: 0;margin: 0;"></div>
                                                 <a class="dropdown-item"  style="color: rgb(124, 123, 123);" href="users?companyid=@item.CompanyID&companyName=@item.Name"><i class="fas fa-user"></i> Users</a>
                                            <div class="dropdown-divider"></div>
                                            <button class="dropdown-item text-danger deleteBtn" type="button" id="deleteBtn" name="deletBtn" companyid="@item.CompanyID" CompanyName="@item.Name" data-toggle="modal" data-target="#modal-delete">
                                                <i class="fas fa-trash"></i> Delete</button>
                                        </div>
                                      </div>
                                    </div>  
                                  </div>
                                
                                }
                        }
                         </div>
                    </form>
                 <!-- card end -->

              <!-- ./col -->



            

            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
       <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="Deletetext">
                  Are you sure you want to delete the company
                  <span style="font-weight:bold;" id=companyToDeleteName>

                  </span>
                  <div class="deleteWarning" > Please note that this action can't be rolled back and the deleted data can't be retrived</div>
              </div>
            </div>
            <form method="post" id="deleteForm" enctype="multipart/form-data">
              <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" asp-page-handler="DeleteCompany" asp-route-id="" id="DeleteCompany">Delete</button>
              <input type="hidden" id="deletedCompanyId" />
            </div>
            </form>
           
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- /.modal -->
        <div class="modal fade" id="modal-view">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Company Detials</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
          

                <ul class="list-group list-group-flush" id="CompanyDetails">
                
               
                </ul>

            </div>
           
              <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
    
           
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
       <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/Company/Company.js"></script>

