@page
@model AlbayaderWeb.Pages.correctiveViewModel
@{

      ViewData["Title"] = "Corrective Report View";
}

<link rel="stylesheet" href="~/plugins/lightBox/touchTouch.css">
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="Reports">Report</a></li>
                        <li class="breadcrumb-item actifve">Corrective Report View</li>
                    </ol>
                </div>

            </div>



        </div>
        <!-- /.container-fluid -->
    </section>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-sm">

                        <div class="info-box-content">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="@Model.uploadurl@Model._service.PictureFileName" alt="user image">
                                <span class="username">
                                    <a href="#">@Model._service.TechnicianName</a>
                                </span>
                                <span class="description">Technician</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm">

                        <div class="info-box-content">
                            <div class="info-box-text text-center text-muted"><b>@Model._service.CompanyName - @Model._service.BranchName</b></div>
                            <div class="info-box-number text-center text-muted mb-0"> <span class="RefNum"> Ref:#@Model._service.ServiceId</span></div>
                        </div>

                    </div>
                    <div class="col-sm">

                        <div class="info-box-content" style="float: right;text-align: left;">
                            <div class="info-box-text text-center text-muted">
                                <i class="fa-solid fa-calendar-days"></i>
                                @Model._service.CreatedDate.ToString("dd/MM/yyyy")
                            </div>
                            <div class="info-box-number text-muted mb-0"><i class="fa-solid fa-clock"></i> @Model._service.CreatedDate.ToString("hh:mm tt")</div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

        <!--body content-->
        <section class="content">
            <form method="post" id="ClientSignatureForm" name="ClientSignatureForm">

                <!--view data-->


                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Service Details </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <i class="fa-solid fa-truck-pickup"></i><label class="ServiceViewHeaders">Visit Details</label>
                                    <div class="row" style="padding-left:20px;">
                                        <div class="col-sm">
                                            <span class="labelsView">Site Vist Type: </span>@Model._service.VistTypeName
                                        </div>
                                         <div class="col-sm">
                                            <span class="labelsView"> Call Reported By: </span>@Model._service.ServiceDetails[0].ReportedBy
                                        </div>
                                         <div class="col-sm">
                                           <span class="labelsView">  Reported Date: </span>@Convert.ToDateTime(@Model._service.ServiceDetails[0].ReportedDate).ToString("dd/MM/yyyy")
                                        </div>
                                        <div class="dropdown-divider"></div>
                                         <div class="col-md-12">
                                            <span class="labelsView"> Probelm Reported: </span>@Html.Raw(@Model._service.ServiceDetails[0].ProblemReported)
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="col-sm">
                                            <span class="labelsView">Condition: </span>@Model._service.ServiceDetails[0].ConditionName
                                        </div>
                                         <div class="col-sm">
                                           <span class="labelsView"> Type: </span>@Model._service.ServiceTypeName
                                        </div>
                                         
                                    </div>
                                    <div class="dropdown-divider"></div>
                                </div>

                            </div>
                            <div class="col-md-12" style="padding-left: 0px;">
                                <div class="text-primary">
                                    <i class="fa-solid fa-gear"></i> <label class="primary" style="font-size:30px;"> @Model._service.ServiceDetails[0].EquipmentName </label>
                                    <label class=""> Serial No.  @Model._service.ServiceDetails[0].SerialNo</label>


                                </div>
                            </div>
                          <div class="dropdown-divider"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <i class="fa-solid fa-wrench"></i> <label class="ServiceViewHeaders">AMC Type:</label>
                                    <div class="">
                                        @(@Model._service.ServiceDetails[0].AMCTypeId == 1 ? "AMC" : "none-AMC")
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <i class="fa-solid fa-camera"></i> <label class="ServiceViewHeaders">Picture Before</label>
                                    <div class="">
                                        @{
                                            int counter = 0;
                                      
                                        @if (@Model._service.ServiceDetails[0].servicePictures != null)
                                        {

                                            counter = counter + 1;
                                            <div class="images-wrapper " id="gallery{@counter}">
                                                @foreach (var picture in @Model._service.ServiceDetails[0].servicePictures)
                                                {

                                                    @if (picture.PictureTypeId == 1)
                                                    {

                                                        @if (@System.IO.Path.GetExtension(picture.FileName) != ".pdf")
                                                        {
                                                             <a class="magnifier" href="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)"> <img src="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)" alt="" class="img-item mx-1"></a>

                                                        }
                                                        else
                                                        {
                                                            <a target="_blank"  href="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)">@picture.FileName </a>

                                                        }

                                                    }
                                                }
                                            </div>
                                        }
                                          }


                                    </div>
                                </div>
                            </div>

                           
                            <div class="dropdown-divider"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <i class="fa-solid fa-boxes-stacked"></i> <label class="ServiceViewHeaders">Materials Used</label>

                                    <ul>

                                        @if (Model._service.ServiceDetails[0].MaterialsUsed != null)
                                        {
                                            @foreach (var mUsed in Model._service.ServiceDetails[0].MaterialsUsed)
                                            {
                                                <li>@Html.DisplayFor(modelItem => mUsed.MateriaUsedlName)</li>
                                            }


                                        }

                                    </ul>
                                </div>
                            </div>


                            <div class="dropdown-divider"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <i class="fa-solid fa-camera"></i> <label class="ServiceViewHeaders">Picture After</label>
                                    <div class="">

                                        @if (@Model._service.ServiceDetails[0].servicePictures != null)
                                        {
                                            counter = counter + 1;
                                            <div class="images-wrapper " id="gallery{@counter}">
                                                @foreach (var picture in @Model._service.ServiceDetails[0].servicePictures)
                                                {

                                                    @if (picture.PictureTypeId == 2)
                                                    {
                                                         @if (@System.IO.Path.GetExtension(picture.FileName) != ".pdf")
                                                        {
                                                             <a class="magnifier" href="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)"> <img src="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)" alt="" class="img-item mx-1"></a>

                                                        }
                                                        else
                                                        {
                                                            <a target="_blank"  href="@Model.uploadurl@Html.DisplayFor(modelItem => picture.FileName)">@picture.FileName </a>

                                                        }
                                                    }
                                                }
                                            </div>
                                             <input type="hidden" value="@counter" id="galleryCount" />
                                        }



                                    </div>
                                </div>
                            </div>
                           
                            <div class="dropdown-divider"></div>
                           


                             <div class="col-md-12">
                                <div class="form-group">
                                    <i class="fa-solid fa-gears"></i><label class="ServiceViewHeaders">Service Details</label>
                                    <div class="row" style="padding-left:20px;">
                                    
                                        <div class="col-md-12">
                                            <span class="labelsView">Remarks:</span><div>@Html.Raw(@Model._service.Remark.Replace("\n", "<br>"))</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="col-md-12">
                                            <span class="labelsView">Service Rendered:</span><div>@Html.Raw(@Model._service.ServiceDetails[0].ServiceRendered.Replace("\n", "<br>"))</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="col-md-12">
                                            <span class="labelsView">Recommendation:</span><div>@Html.Raw(@Model._service.Recommendation.Replace("\n", "<br>"))</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="col-md-12">
                                            <span class="labelsView">Root Of Cause:</span><div>@Html.Raw(@Model._service.rootOfCause.Replace("\n", "<br>"))</div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="col-md-12">
                                            <span class="labelsView"> Status After Service:</span> @Model._service.StatusAfterName
                                        </div>
                                        <div class="dropdown-divider"></div>
                                         <div class="col-md-12">
                                            <span class="labelsView"> Completion Date:</span> @Convert.ToDateTime(@Model._service.CompletionDate).ToString("dd/MM/yyyy hh:mm tt")
                                        </div>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>

                            </div>
                                <div class="col-md-12">
                            <div class="form-group">
                                <i class="fa-solid fa-person-chalkboard"></i> <label class="ServiceViewHeaders">Client Review</label>
                                <div class="row" style="padding-left:20px;">
                                    
                                        <div class="col-md-12">
                                            <span class="labelsView">Supervisor Name: </span>@Model._service.SupervisourName
                                    </div>
                                         <div class="dropdown-divider"></div>
                                    <div class="col-md-12">
                                        <span class="labelsView">Supervisor Mobile: </span>@Model._service.SupervisourMobile
                                    </div>
                                         <div class="dropdown-divider"></div>
                                    <div class="col-md-12">
                                            <span class="labelsView">Supervisor Designation: </span>@Model._service.SupervisourDesignation
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="col-md-12">
                                            <span class="labelsView">Supervisor Feedback: </span>@Model._service.SupervisourFeedback.Replace("\n", "<br>")
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="col-md-12">
                                        <span class="labelsView"> Supervisor Signature: </span>
                                        <div>
                                        <img src="@Model._service.SupervisourSignature" />
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                         
                                </div>
                            </div>

                            </div>

                        </div>
                    </div>

                </div>

                <!-- end view data-->

                
             

                <input type="hidden" id="APIURI" name="APIURI" value="@Model.apiurl" />
                <input type="hidden" id="Uploadlocation" name="Uploadlocation" value="@Model.uploadurl" />
                <input type="hidden" id="serviceid" name="serviceid" value="@Model._service.ServiceId" />


            </form>

            <!-- /.container-fluid -->
        </section>


    </div>

    <!-- /.content -->

</div>


<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/Report/PreventiveView.js?dt=@DateTime.Now.ToString("yyyyMMddhhmmss")"></script>
<script src="plugins/Signature/jq-signature.min.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>
<script src="plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="plugins/jquery-validation/additional-methods.min.js"></script>




<script src="~/plugins/lightBox/touchTouch.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>