@page


@model AlbayaderWeb.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}





<!-- Select2 -->
<link rel="stylesheet" href="plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
   

    <!-- Main content -->
    <section class="content">


        <div class="container-fluid">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">



                        <div class="inner" id="preventiveCount">
                             <h3></h3>

                            <p>Preventive Service</p>
                        </div>

                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                         @if (@Model.role.ToLower() == "administrator" || @Model.role.ToLower() == "manager" || @Model.role.ToLower() == "technicion")
                            {
                            <a href="preventiveStart?serviceType=preventive&companyId=0" class="small-box-footer">Start New <i class="fas fa-arrow-circle-right"></i></a>
                            
                            }

                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner" id="correctiveCount">
                            <h3></h3>

                            <p>Corrective Service</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                         @if (@Model.role.ToLower() == "administrator" || @Model.role.ToLower() == "manager" || @Model.role.ToLower() == "technicion")
                            {
                            <a href="preventiveStart?serviceType=corrective&companyId=0" class="small-box-footer">Start New  <i class="fas fa-arrow-circle-right"></i></a>
                            }
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner" id="otherCount">

                            <h3></h3>

                            <p>Others</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                         @if (@Model.role.ToLower() == "administrator" || @Model.role.ToLower() == "manager" || @Model.role.ToLower() == "technicion")
                            {
                             <a href="preventiveStart?serviceType=other&companyId=0" class="small-box-footer">Start New  <i class="fas fa-arrow-circle-right"></i></a>
                            }
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box ">
                        <div class="inner" id="branchCount">
                            <h3></h3>

                            <p>Branches</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                           @if (@Model.role.ToLower() == "administrator" || @Model.role.ToLower() == "manager" || @Model.role.ToLower() == "technicion")
                            {
                        <div class="small-box-footer"><p></p></div>
                            }
                    </div>
                </div>
                <!-- ./col -->
            </div>

            @if (@Model.role.ToLower() == "administrator" || @Model.role.ToLower() == "manager" || @Model.role.ToLower() == "client manager")
            {



             
                   
  
                    <div class="row">
                   <div class="col-md-12" style="padding:10px 5px; ">
                          <select name="ddyear" id="ddyear" class="form-select" >
                                 <option value="2022">2022</option>
                                 <option value="2023">2023</option>
                                 <option value="2025">2024</option>
                                 <option value="2026">2025</option>
                                 <option value="2027">2026</option>
    
                       </select>
                    </div>
                        <!-- AREA CHART -->
                          <div class="col-md-6 col-lg-6 col-sm">
                         <div class="card card">
                            <div class="card-header">
                                <h3 class="card-title">Service by Month </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">

                                <canvas id="donutChart" class="SrMonth"></canvas>
                            </div>
                            <!-- /.card-body -->
                    </div>
                    </div>
                     <div class="col-md-6 col-lg-6 col-sm">
                     <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Service Per Month By Type</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="lineChart" class="SrMonthType"></canvas>
                                </div>
                            </div>
                           
                    </div>
                   
                      

                </div>

                 </div>
              
                    <div class="row">
                        <!-- LINE CHART -->
                        <div class="col-md-12">
                   <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Preventive  vs Corrective</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="areaChart" class="correctivePreventive"></canvas>
                                </div>
                            </div>
                            <!-- /.card-body -->
                    </div>
                    </div>
                        <!-- /.card -->
                        <!-- BAR CHART -->
                        <div class="col-md-12">
                    <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title">Service Per Branch</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="barChart" class="srPreBranch"></canvas>

                                </div>
                            </div>
                            <!-- /.card-body -->
                    </div>
                    </div>
                        <!-- /.card -->
                    </div>



                     <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title">Corrective Type Per Month </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="CorrectiveTypePerMonth" class="CorrectiveTypePerMonth"></canvas>

                                </div>
                            </div>
                            <!-- /.card-body -->
                    </div>
                    </div>
                     <div class="col-md-12">
                     <div class="card card ">
                            <div class="card-header">
                                <h3 class="card-title">Corrective Type Per Branch </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart">
                                    <canvas id="CorrectiveTypePerBranch" class="CorrectiveTypePerBranch"></canvas>

                                </div>
                            </div>
                            <!-- /.card-body -->
                    </div>

                   </div>
         
                    <!-- /.col (RIGHT) -->
      
                <!-- /.row -->
            }else  @if (@Model.role.ToLower() == "technicion" ){



            }
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <input type="hidden" id="APIURI" name="APIURI" value="@Model.apiurl" />
    <input type="hidden" id="Uploadlocation" name="Uploadlocation" value="@Model.uploadurl" />
    <input type="hidden" id="uRol" name="APIURI" value="@Model.role" />
    @*<input type="hidden" id="utoken" name="utoken" value="@Model.token" />*@

</div>
<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="js/Dashboard/dashboard.js"></script>