@page
@model AlbayaderWeb.Pages.ManageCompany
@{
    ViewData["Title"] = "Manage Company";
}
<div class="content-wrapper">

  <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                  <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
                  <li class="breadcrumb-item "><a href="Company">Companies</a></li>
                  <li class="breadcrumb-item active" id="currentLable">@Model.pageTitle </li>
                </ol>
              </div>
          
            </div>
            
          </div>
          <!-- /.container-fluid -->
        </section>


        
 <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
               <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Company form</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
                <form id="CompanyForm" method="post" style="width:90%;">
            @if(Model.editMode)
            {
                
                  <div class="col">
                   <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" class="form-control" name="CompanyName" id="Company" placeholder="Enter Company Name" value="@Model._companay.Name" />
                  </div>
                   <div class="form-group">
                    <label>Country</label>
                    <select name="ddCountry" id="ddCountry" class="form-control select2" style="width: 100%;">
                 
    
                    </select>
                  </div>
                <div class="form-group">
                    <label for="street">City</label>
                    <input type="text" class="form-control" name="city" id="street" placeholder="Enter Street" value="@Model._companay.City"/>
                  </div>
                 <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" name="street" id="street" placeholder="Enter Street" value="@Model._companay.Street"/>
                  </div>
                   <div class="form-group">
                    <label for="streetno">Street No.</label>
                    <input type="text" class="form-control" name="streetno" id="streetno" placeholder="Enter Street No" value="@Model._companay.StreetNo"/>
                  </div>
                   <div class="form-group">
                    <label for="tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter Tell No. 97165618131 " value="@Model._companay.Telephone"/>
                  </div>
                   <div class="form-group">
                    <label for="fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="fax" placeholder="Enter Fax No. 97165618132" value="@Model._companay.Fax"/>
                  </div>
                  <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Enter Latitude" value="@Model._companay.Latitude"/>
                  </div>
                  <div class="form-group">
                    <label for="long">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Enter Longitude" value="@Model._companay.Longitude"/>
                  </div>
                   <div class="form-group">
                        <label for="logo">Logo</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logoFile">
                            <label class="custom-file-label" for="exampleInputFile" id="logoFile">Choose file</label>
                          </div>
                            <div class="input-group-append">
                            <div class="btn btn-block btn-info remove" id="UploadLogobtn">Upload</div>
                             <div class="btn btn-warning remove" id="RemoveLogobtn" >Remove</div>
                          </div>
                        </div>
                    </div>
                    <a href="https://localhost:7174/api/uploads/@Model._companay.CompanyLogo" target="_blank" >@Model._companay.CompanyLogo</a>
                      <span id="uploadError" class="errorMessage" ></span>
                      <progress id="fileProgress" style="display: none"></progress>
                      <span id="lblMessage" style="color: Green"></span>
                     </div>
                     <input type="hidden" id="uploadedfile" name="uploadedfile" value="@Model._companay.CompanyLogo"/>
                     <input type="hidden" id="hdCompanyId" name="hdCompanyId" value="@Model._companay.CompanyID"/>
                   
                   @section Scripts{
                        <script type="text/javascript">
                        $(document).ready(function () {
                        $('.select2').select2();
                        $("#ddCountry").val(@Model._companay.CountryId).trigger('change');
                        })
                         </script>
                       }

                        }
                        else
                        {
                            
                    <div class="col">
                   <div class="form-group">
                    <label for="companyname">Company Name</label>
                    <input type="text" class="form-control" name="CompanyName" id="Company" placeholder="Enter Company Name" value="" />
                  </div>
                   <div class="form-group">
                    <label>Country</label>
                    <select name="ddCountry" id="ddCountry" class="form-control select2" style="width: 100%;">
                 
    
                    </select>
                  </div>
                <div class="form-group">
                    <label for="street">City</label>
                    <input type="text" class="form-control" name="city" id="street" placeholder="Enter Street" value=""/>
                  </div>
                 <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" name="street" id="street" placeholder="Enter Street" value=""/>
                  </div>
                   <div class="form-group">
                    <label for="streetno">Street No.</label>
                    <input type="text" class="form-control" name="streetno" id="streetno" placeholder="Enter Street No" value=""/>
                  </div>
                   <div class="form-group">
                    <label for="tel">Tel</label>
                    <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter Tell No. 97165618131 " value=""/>
                  </div>
                   <div class="form-group">
                    <label for="fax">Fax</label>
                    <input type="text" class="form-control" name="fax" id="fax" placeholder="Enter Fax No. 97165618132" value=""/>
                  </div>
                  <div class="form-group">
                    <label for="lat">Latitude</label>
                    <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Enter Latitude" value=""/>
                  </div>
                  <div class="form-group">
                    <label for="long">Longitude</label>
                    <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Enter Longitude" value=""/>
                  </div>
                   <div class="form-group">
                        <label for="logo">Logo</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logoFile">
                            <label class="custom-file-label" for="exampleInputFile" id="logoFile">Choose file</label>
                          </div>
                            <div class="input-group-append">
                            <div class="btn btn-block btn-info remove" id="UploadLogobtn">Upload</div>
                             <div class="btn btn-warning remove" id="RemoveLogobtn" >Remove</div>
                          </div>
                        </div>
                    </div>
                    <a href="" ></a>

                      <span id="uploadError" class="errorMessage" ></span>
                      <progress id="fileProgress" style="display: none"></progress>
                      <span id="lblMessage" style="color: Green"></span>
                     </div>
                     <input type="hidden" id="uploadedfile" name="uploadedfile" value=""/>

                      
                   @section Scripts{
                        <script type="text/javascript">
                        $(document).ready(function () {
                        $('.select2').select2();
                       
                        })
                         </script>
                       }

                      }

                 <input type="hidden" id="Smode" name="Smode" value="@Model.PageActionMode"/>

                     </form>
               
            
                      

          
                
         </div>

            
 
            <!-- /.row -->
        <div class="dropdown-divider" ></div>
            
            <div class="row" style="float: right;"> 
           <div class="col">
              <div style="padding: 20px;float:left">
            <a href='company' class="btn btn-block btn-default btn-lg" style="width: 200px;">Cancel</a>

             </div>

           <div style="padding: 20px;float:left">
            <button type="button" id="UpdateCompany" class="btn btn-block btn-info btn-lg" style="width: 200px;">Save</button>

             </div>
             </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-body -->
         
        </div>
        <!-- /.card -->


           </div>
        </section>
        <!-- /.content -->
         <input type="hidden" id="APIURI" name="APIURI" value="@Model.apiurl"/>
        </div>

            <!-- jQuery -->
            <script src="plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  
            <!-- Select2 -->
            <script src="plugins/select2/js/select2.full.min.js"></script>

            <script src="~/js/company/companyValidation.js"></script>
            <script src="~/js/company/manageCompany.js"></script>

            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>




            <script src="plugins/jquery-validation/jquery.validate.min.js"></script>
            <script src="plugins/jquery-validation/additional-methods.min.js"></script>

           


           
